.hover__bg:hover{
    background-color: rgb(177, 177, 177);
}
.hover__bg{
    cursor: pointer;
}

thead {
    width: 45vh;
}

.p0 {
    padding: 0; 
}
.m0{
    margin: 0;
}
.sort__button {
    cursor:pointer;
}

.table-no-100 table{
    width: auto;
}
.fs-sm, .fs-sm>i{
    font-size: 16px;
}

.audits{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.ma{
    margin: auto !important;
}
.vam{
    vertical-align: middle !important;
}
.w100{
    width: 100%;
}
.min-w-36{
    min-width: 36px;
}
.min-w-100{
  min-width: 100px;
}
.monthSpan{
    position:absolute;
    right: 0;
}
.f100 {
    font-size: 100px;
}

.is-absolute{
  position: absolute;
}
.is-right-0{
  right: 0;
}

.fixedTD{
  position: sticky;
  left:0;
  z-index: 2;
  background: white;
}
